//palette
$paragraph: #716c80;
$btnLight: #6852ed;
$btnDark: linear-gradient(26.57deg, #6852ed 16.67%, #ba43fc 100%);
$btnColor: #fff;
$aColor: #554d89;
$hColor: #554d89;
$boxColor: #e1e4ed;
$textColor: #6852ed;

//header
$navColor: #5b5766;
$navColorSelected: #524b80;
$linkHoverColor: #6852ed;

//main
$mainBottomBg: #6852ed;
$ArrowBottomColor: #fff;

//services
$iconColor: #6852ed;
$shadowColor: #e1e4ed;
$servicesHover: linear-gradient(26.57deg, #6852ed 16.67%, #ba43fc 100%);
$shadowCardColor: rgba(104, 82, 237, 0.8);
$servicesColorHover: #fff;

//shapes_animations (videos)
$circle1: #ba43fc;
$circle2: #ba43fc;
$circle3: #6852ed;
$circle4: #6852ed;
$circle5: #ba43fc;
$circle6: #6852ed;
$circle7: #ba43fc;
$circle8: #6852ed;
$videosBtn: linear-gradient(26.57deg, #6852ed 16.67%, #ba43fc 100%);
$videosBg: rgb(248, 246, 254);

//size
$h1size: 53px;

//progress
$progressColor: #e1e4ed;
$progressLineColor: #6852ed;

//contact
$contactBg: rgb(242, 237, 254);
$contactText: #554d89;

//card
$hrColor: #ba43fc;
$shadowColor: #e1e4ed;
$checkColor: #6852ed;
$timesColor: #ef7171;

//badge
$badgeTextColor: #ef7171;
$badgeBgColor: rgba(225, 228, 237, 0.6);

//support
$iconColor: #6852ed;

//footer
$circleBg: #6852ed;
$linkHoverColor: #6852ed;
$formColor: #6852ed;
$circle3: #ba43fc;
$hrColor: #e1dcff;
